
@using UserProfile.Models
<h3>AuthorList</h3>

<table class="table table-light">
    @foreach (BlogModel blogs in ModelList)
    {
    <tr>
       


        <td>@blogs.Blogs</td>
        <td>@blogs.Name</td>
        <td>@blogs.Slug</td>
        <td>@blogs.Content</td>
        
        </tr>

           

        }



</table>

@code {

    [Parameter]
    public IEnumerable<BlogModel> ModelList { get; set; }
  
    



}
